html {
  height: 100%;
  margin-bottom: 1px;
  overflow-y: scroll;
}
h1 {
  font-size: 40px;
  color: #22130;
  margin-bottom: 10px;
  border-bottom: 1px solid #CCC;
  font-family: 'Raleway', sans-serif;
}
h1 small {
  color: #464D57;
  font-size: 16px;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
}
h2, h3 {
  color: #22130;
  margin-bottom: 5px;
  font-family: 'Raleway', sans-serif;
}
p {
  color: #464D57;
  background-color: #fff;
  font-family: 'Nobile', sans-serif;
  margin-top: 5px;
}
pre {
  background-color: #F6F6F6;
}
nav {
  font-size: 20px;
}
nav a {
  margin-right: 20px;
}
a{
  color: #ED8917;
  text-decoration: none;
}
a:hover {
  color: #464D57;
}
img.display {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
#container {
  margin: 0 auto;
  width: 960px;
}
#options {
  list-style: none;
  padding-left: 0px;
}
#options li {
  margin-bottom: 10px;
}
#spacer {
	width: 960px;
	height: 50px;
}

#textslide {
	line-height: 0px;
	color: transparent;
	font-size: 20px;
	text-align: center;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
 
#textslide:hover {
	line-height: 20px;
	color: #D4E8D3;
}
